/*
 * Globals
 */

/* Custom default button */
.btn{
  border-color: rgb(125, 205, 78);
  color:rgb(125, 205, 78);
}
.btn:hover,
.btn:focus {
  background-color:  rgb(125, 205, 78);
  color:  rgb(43, 60, 29);
  text-shadow: none; /* Prevent inheritance from `body` */
}
main{
  display: flex;
  flex-direction: column;
}
.beginBtn{
  text-align: center;
}

.greeting{
  font-size: 4rem;
  font-style: italic;
  margin: 2rem;
}

.welcome-div {
  width: 50%;
  padding-bottom: 4rem;
  margin: 1rem;
  text-align: center;
  color: rgb(232, 254, 255);
}

/*
 * Base structure
 */


.cover-container {
  max-width: 42em;
}
