/*
 * Globals
 */

.homeBtn{
  border-color: rgb(18, 200, 255);
  color:rgb(97, 242, 255);
}
.homeBtn:hover,
.homeBtn:focus {
  background-color:  rgb(1, 61, 182);
  border-color: rgb(0, 7, 108);
  color:  rgb(210, 254, 255);
  text-shadow: none; /* Prevent inheritance from `body` */
}

.welcome-div {
  width: 50%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: 3rem 1rem 1rem 1rem;
  text-align: center;
  color: rgb(232, 254, 255);
}
.greeting{
  font-size: 4rem;
  font-style: italic;
  margin: 2rem;
  text-align: center;
  opacity: 0;
   animation-name: fadeIn;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.beginBtn{
  text-align: center;
opacity: 0;
 animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}


/*
 * Base structure
 */


.cover-container {
  max-width: 42em;
}
